In [2]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv(r"D:\Study\Data Science\PW Skill Internship\Bike Share Prodiction\notebooks\data\day.csv")
df2 = pd.read_csv(r"D:\Study\Data Science\PW Skill Internship\Bike Share Prodiction\notebooks\data\hour.csv")

In [ ]:
sns.boxenplot()

In [ ]:
df1.head()

In [ ]:
df2.head()

In [5]:
df1.shape

(731, 16)

In [6]:
df2.shape

(17379, 17)

In [7]:
df1['atemp'].min()

0.0790696

In [8]:
df1['atemp'].max()

0.840896

In [9]:
df1.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [10]:
df2.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [11]:
df1[df1.duplicated()]

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [12]:
df2[df2.duplicated()]

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [13]:
df1.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [14]:
df1.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [15]:
df2.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [16]:
df1.drop(['instant','cnt'],axis=1,inplace=True)

In [17]:
df1.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654
1,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670
2,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229
3,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454
4,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518

In [18]:
df1[df1['season'] == 1]

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654
1,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670
2,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229
3,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454
4,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867
727,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451
728,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182
729,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432
730,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      731 non-null    object
 1   season      731 non-null    int64
 2   yr          731 non-null    int64
 3   mnth        731 non-null    int64
 4   holiday     731 non-null    int64
 5   weekday     731 non-null    int64
 6   workingday  731 non-null    int64
 7   weathersit  731 non-null    int64
 8   temp        731 non-null    float64
 9   atemp       731 non-null    float64
 10  hum         731 non-null    float64
 11  windspeed   731 non-null    float64
 12  casual      731 non-null    int64
 13  registered  731 non-null    int64
dtypes: float64(4), int64(9), object(1)
memory usage: 80.1+ KB

In [20]:
df1['date'] = pd.to_datetime(df1['dteday'],format="%Y-%m-%d")

In [21]:
df1.drop('dteday',axis=1,inplace=True)

In [22]:
df1.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,date
0,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,2011-01-01
1,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,2011-01-02
2,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,2011-01-03
3,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,2011-01-04
4,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,2011-01-05

In [23]:
df1[df1['season'] == 1]['date']

0     2011-01-01
1     2011-01-02
2     2011-01-03
3     2011-01-04
4     2011-01-05
         ...
726   2012-12-27
727   2012-12-28
728   2012-12-29
729   2012-12-30
730   2012-12-31
Name: date, Length: 181, dtype: datetime64[ns]

In [24]:
df1[(df1['date'].dt.year == 2011) & (df1['season'] == 1)].tail()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,date
360,1,0,12,0,2,1,2,0.325000,0.327633,0.762500,0.188450,103,1059,2011-12-27
361,1,0,12,0,3,1,1,0.299130,0.279974,0.503913,0.293961,255,2047,2011-12-28
362,1,0,12,0,4,1,1,0.248333,0.263892,0.574167,0.119412,254,2169,2011-12-29
363,1,0,12,0,5,1,1,0.311667,0.318812,0.636667,0.134337,491,2508,2011-12-30
364,1,0,12,0,6,0,1,0.410000,0.414121,0.615833,0.220154,665,1820,2011-12-31

In [25]:
df1['date'].dt.year

0      2011
1      2011
2      2011
3      2011
4      2011
       ...
726    2012
727    2012
728    2012
729    2012
730    2012
Name: date, Length: 731, dtype: int64

In [26]:
df1.drop('yr',axis=1,inplace=True)

In [27]:
df1

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,date
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,2011-01-01
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,2011-01-02
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,2011-01-03
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,2011-01-04
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,2011-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2012-12-27
727,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,2012-12-28
728,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,2012-12-29
729,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,2012-12-30
730,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2012-12-31

In [28]:
df1 = df1[['date','season','mnth','holiday','weekday','workingday','weathersit','temp','atemp','hum','windspeed','casual','registered']]

In [29]:
df1

,date,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,2011-01-01,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654
1,2011-01-02,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670
2,2011-01-03,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229
3,2011-01-04,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454
4,2011-01-05,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,2012-12-27,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867
727,2012-12-28,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451
728,2012-12-29,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182
729,2012-12-30,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432
730,2012-12-31,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290

In [30]:
df1.drop('date',axis=1,inplace=True)

C:\Users\sadar\AppData\Local\Temp\ipykernel_9596\4115736922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('date',axis=1,inplace=True)

In [31]:
df1

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518
...,...,...,...,...,...,...,...,...,...,...,...,...
726,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867
727,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451
728,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182
729,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432
730,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      731 non-null    int64
 1   mnth        731 non-null    int64
 2   holiday     731 non-null    int64
 3   weekday     731 non-null    int64
 4   workingday  731 non-null    int64
 5   weathersit  731 non-null    int64
 6   temp        731 non-null    float64
 7   atemp       731 non-null    float64
 8   hum         731 non-null    float64
 9   windspeed   731 non-null    float64
 10  casual      731 non-null    int64
 11  registered  731 non-null    int64
dtypes: float64(4), int64(8)
memory usage: 68.7 KB

In [33]:
# input feature for casual
X = df1.iloc[:,:10]
y = df1.iloc[:,10]

In [34]:
X

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446
1,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539
2,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309
3,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296
4,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900
...,...,...,...,...,...,...,...,...,...,...
726,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133
727,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471
728,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383
729,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754
730,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846

In [35]:
y

0      331
1      131
2      120
3      108
4       82
      ...
726    247
727    644
728    159
729    364
730    439
Name: casual, Length: 731, dtype: int64

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=34)

In [39]:
linear_regressor = LinearRegression()

In [40]:
linear_regressor.fit(X_train,y_train)

LinearRegression()

In [41]:
y_test_pred = linear_regressor.predict(X_test)

In [42]:
from sklearn.metrics import r2_score

In [43]:
accr = r2_score(y_test_pred,y_test)

In [44]:
accr

0.3228896132737721

In [45]:
from sklearn.tree import DecisionTreeRegressor

In [46]:
dtr = DecisionTreeRegressor()

In [47]:
dtr.fit(X_train,y_train)

DecisionTreeRegressor()

In [48]:
y_test_pred = dtr.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score

In [50]:
accr = r2_score(y_test_pred,y_test)

In [51]:
accr

0.6094134171237116

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import(
    AdaBoostRegressor,
    RandomForestRegressor,
    GradientBoostingRegressor
)
from sklearn.tree import DecisionTreeRegressor
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [56]:
# test train split

X1_train,X1_test,y1_train,y1_test = train_test_split(X,y,test_size=0.3,random_state=43)

In [142]:
y1_train

269     477
270     480
145     758
503    1521
383     130
       ...
16      117
58       81
277     559
255     701
320     139
Name: casual, Length: 511, dtype: int64

In [141]:
y1_test

335     268
631    2454
620    1050
722     408
388     439
       ...
639     763
165     769
445    1122
150     673
535     968
Name: casual, Length: 220, dtype: int64

In [57]:
models = {
    "Linear Regression":LinearRegression(),
    "AdaBoost Regressor":AdaBoostRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Gradient Boosting":GradientBoostingRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "CatBoosting Regressor":CatBoostRegressor(verbose=False),
    "XGB Regressor":XGBRegressor()
}

In [73]:
params = {
    "Linear Regression":{
        "fit_intercept":[True,False],
        "copy_X":[True,False],
        "positive":[True,False]
    },
    "AdaBoost Regressor":{
        "n_estimators":[8,16,32,64,128,256],
        "loss":["linear","square","exponential"],
        "learning_rate":[0.1,0.01,0.05,0.001]
    },
    "Random Forest":{
        "n_estimators":[8,16,32,64,128,256],
        "criterion":["squared_error","absolute_error","friedman_mse","poisson"],
        "max_features":["sqrt","log2",None]
    },
    "Gradient Boosting":{
        "loss":["squared_error","absolute_error","huber","quantile"],
        "learning_rate":[0.1,0.01,0.5,0.001],
        "n_estimators":[8,16,32,64,128,256],
        "criterion":["friedman_mse","squared_error"],
        "max_features":["sqrt","log2",None],
        "subsample":[0.6,0.7,0.75,0.8,0.85,0.9]
    },
    "Decision Tree":{
        "criterion":["squared_error","friedman_mse","absolute_error","poisson"],
        "splitter":["best","random"],
        "max_features":["auto","sqrt","log2",None]
    },
    "CatBoosting Regressor":{
        "depth": [6,8,10],
        "learning_rate": [0.01, 0.05, 0.1],
        "iterations": [30, 50, 100]
    },
    "XGB Regressor":{
        "learning_rate":[.1,.01,.05,.001],
        "n_estimators": [8,16,32,64,128,256]
    }
}

In [132]:
def evaluate_model(X_train,X_test,y_train,y_test,models,params):
    try:
        report = {}
        
        for i in range(len(list(models))):
            
            model = list(models.values())[i]
            
            para = params[list(models.keys())[i]]
            
            gs = GridSearchCV(model,para,cv=3)
            
            gs.fit(X_train,y_train)
            
            model.set_params(**gs.best_params_)
            model.fit(X_train,y_train)
            
            y_test_pred = model.predict(X_test)
            
            accr = r2_score(y_test,y_test_pred)
            
            report[list(models.keys())[i]] = accr
            
        return report
        
    except Exception as e:
        print(e)

In [130]:
from sklearn.model_selection import GridSearchCV

In [133]:
accr = evaluate_model(X1_train,X1_test,y1_train,y1_test,models,params)

C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(
C:\Users\sadar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py:277: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0'`.
  warnings.warn(

In [134]:
print(accr)

{'Linear Regression': 0.562419022007423, 'AdaBoost Regressor': 0.6677055782350328, 'Random Forest': 0.7686870564697411, 'Gradient Boosting': 0.7731908760340809, 'Decision Tree': 0.5326503512236693, 'CatBoosting Regressor': 0.7724676672039476, 'XGB Regressor': 0.7386090675985268}

In [135]:
best_model_score = max(sorted(accr.values()))

In [136]:
best_model_score

0.7731908760340809

In [137]:
best_model_name = list(accr.keys())[
    list(accr.values()).index(best_model_score)
]

In [138]:
best_model_name

'Gradient Boosting'

In [139]:
best_model = models[best_model_name]

In [143]:
y_p_t = best_model.predict(X1_test)

In [144]:
print(r2_score(y1_test,y_p_t))

0.7731908760340809

In [158]:
g_m = GradientBoostingRegressor()

In [159]:
g_m.fit(X1_train,y1_train)

GradientBoostingRegressor()

In [160]:
y_p = g_m.predict(X1_test)

In [1]:
r2_score(y1_test,y_p)

NameError: name 'r2_score' is not defined

In [ ]:
gs =